{% extends "base_with_menu.html" %}
{% block title %} 攻略 {% endblock title %}
{% block content %}
    <link rel="stylesheet" href="/static/css/essay_list.css">

    <div class="container cont">
        <div class="col-lg-8">

            <div class="left_essay">
                <div class="essay_title_con">
                    <h2>{{ title.name }}</h2>
                    <span>作者：<a href="#">{{ title.user }}</a> &nbsp;·&nbsp;{{ title.date }}</span>
                </div>
                <div class="essay_body_con">
                    {% for item in bodys %}
                        {% if item.action == "s_title" %}
                            <h3>{{ item.text }}</h3>
                        {% elif item.action == "s_body" %}
                            <p>
                                {{ item.text }}
                            </p>
                        {% elif item.action == "b_img" %}
                            <a href="#">
                                <img style="width: 100%"
                                     src="{{ item.path }}"
                                     alt="图片">
                            </a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="buttom_page">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right_community">
                <h4>社区</h4>
                <hr>
                <p>QQ群：108***092</p>
                <p><span style="color: #269abc" class="glyphicon glyphicon-home"></span>&nbsp;<a href="#">问答社区</a></p>

            </div>
            <div class="rigth-section">
                <h4>文章段落</h4>
                <hr>
                {% for item in bodys %}
                    {% if item.action == "s_title" %}
                        <p>{{ item.text }}</p>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="right_tag">
                <h4>标签</h4>
                <hr>
                <span>吃喝玩乐</span>
                <span>远方</span>
                <span>风景宜人</span>
                <span>妹子多</span>
            </div>
        </div>
    </div>

{% endblock content %}
{% block ext_js %}
    <script type="text/javascript">
        window.onload=function () {
        }

    </script>
{% endblock ext_js %}