.container {
    width: 30rem;
}

body {
    font-family: "Microsoft YaHei";
}

.container-top {
    height: 12rem;
    text-align: center
}

.login-box {
    padding: 2rem;
    background: white;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 0px 2px 1px #888888;
    padding-top: 2rem;
}

.login-box p {
    color: red;
}

.auto-background-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.switch_login_register {
    text-align: center;
    padding-top: 1.5rem;
}